<!DOCTYPE html>
<html>
   <head>
    <title>Dark Souls Beyond</title>
  </head>
  
  <body>
    <h1>Dark Souls Beyond</h1>
    <p>the place where <i>casuals</i> <b>git gud</b></p>
    
    <h4>Please Sign in</h4>
    <a href="/sessions/login">Log In</a><br>
    <a href="/registrations/signup">Sign Up</a>
  
  </body>
  
</html>
