<!DOCTYPE html>
<html>
  
  <head>
    <title>Dark Souls Beyond</title>
  </head>
  
  <body>
    
  <form method="post" action="/Character">
    <h3>Name:
    <input type="Name" name="Name"></h3>
  <h3>Class:
  <input list="Class" name="Class"></h3>
  <datalist id="Class">
    <option value="Cleric">
    <option value="Warrior">
    <option value="Thief">
    <option value="Deprived">
    <option value="Sorcerer">
  </datalist>
  
    <h3>Gender:
      <input list="Gender" name="Gender"></h3>
      <datalist id="Gender">
        <option value="Male">
        <option value="Female">
      </datalist><br>

      <input type= "submit"><br>
    </form>
    
    <img src="https://i.pinimg.com/474x/d7/4b/ba/d74bba22f2838922fb7bb5c2744d431b--dark-souls--armor-videogames.jpg">
    
    
    
  </body>
  
  
</html>